@import "~bootstrap/scss/bootstrap";

html, body {
  height: 100vh;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0;
  padding: 0;
  z-index: 10;

  &:focus {
    box-shadow: none;
  }

}

.modal-status {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
}