{% extends 'base.html.twig' %}

{% block title %} Kapcsolatfelvétel {% endblock %}

{% block body %}
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center min-vh-100">
            <div class="col-lg-6 col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">Kapcsolatfelvétel</h3>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="name" placeholder="Neved">
                            <label for="name">Neved</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" placeholder="E-mail címed">
                            <label for="email">E-mail címed</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" style="height: 150px" placeholder="Üzenet szövege" id="message"></textarea>
                            <label for="message">Üzenet szövege</label>
                        </div>
                        <div class="form-floating mb-3 text-center">
                            <button class="btn btn-success" id="submit">Küldés</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="success" tabindex="-1" aria-labelledby="successModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-status bg-success"></div>
                <div class="modal-body text-center pt-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="green" class="bi bi-check-circle mb-3" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"></path>
                    </svg>
                    <p>Köszönjük szépen a kérdésedet. Válaszunkkal hamarosan keresünk a megadott e-mail címen.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="error" tabindex="-1" aria-labelledby="errorModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-status bg-danger"></div>
                <div class="modal-body text-center pt-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="rgb(220, 53, 69)" class="bi bi-x-circle mb-3" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                    </svg>
                    <p class="text-center">Hiba! Kérjük töltsd ki az összes mezőt!</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
